@import '../../variables.scss';

.sign-up {
  max-width: fit-content;
  align-self: center;
  justify-self: center;
  padding: 2rem;

  &-heading {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
}

.inputs-group {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}

.sign-up-down-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;

  .link {
    color: $primary-color;
    cursor: pointer;
  }
}